

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p> On Our Car-Sharing webpage.</p>
    <p> Here You can rent a car as simply as it's possible!</p>
</div>
